﻿@{
    ViewBag.Title = "Home Page";
}
@section scripts{   
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ServiceConsumer.js"></script>
}

<div ng-app="homeModule">
    <div ng-controller="homeControl">

        <div>&nbsp;</div>

        <div class="jumbotron">

            <h1>Input</h1>
            <div>
                <span class="cls-field">Name </span>
                <span><input type="text" data-ng-model="TestInput.Name" /></span>
            </div>
            <div>
                <span class="cls-field">Value</span>
                <span><input type="text" data-ng-model="TestInput.Number" /></span>
            </div>
            <div style="margin-left:260px">
                <button data-ng-click="Submit()">Submit</button>
            </div>

        </div>

        <div class="jumbotron">
            <h1>Result</h1>
            <div>
                <span>Name:</span>
                <span>{{TestResult.Name}}</span>
            </div>
            <div>
                <span>Currency:</span>
                <span>{{TestResult.CurrencyWords}}</span>
            </div>
        </div>

    </div>
</div>

